.root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f0d3;
  padding: 24px 30px;
  border: 1px solid gray;
  border-radius: 12px 12px 0 0;
}

.title {
  color: #010101;
  font-size: 24px;
  font-weight: 600;
}

.closeRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}

.buttonContainer {
  cursor: pointer;
}

.bodyItem {
  display: flex;
  flex-direction: row;
  gap: 18px;
  cursor: pointer;
  background-color: white;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 24px 30px;
}

.bodyItem:last-child {
  border-radius: 0 0 12px 12px;
}

.bodyText {
  color: #484848;
  font-size: 18px;
  font-weight: 600;
}

.menuTooltipRoot {
  display: flex;
  flex-direction: column;
  background-color: white !important;
  padding: 0 !important;
}

.menuTooltipRow {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 18px;
  gap: 8px;
  border: 1px solid gray;
}

.menuTooltipText {
  color: #010101;
  font-size: 16px;
}

.confirmDeleteText {
  color: #101010;
}

.newLessonModalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.newLessonBodyText {
  color: #010101;
  font-size: 16px;
}
